a {
    color: inherit;
    text-decoration: none;
}

/* Listas “zeradas” */
ul,
ol {
    list-style: none;
    padding-left: 0;
}

/* Imagens responsivas */
img {
    max-width: 100%;
    height: auto;
    display: block;
}