/* reset CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "inter",sans-serif;
    background-color: black;
    color: #fff;
    line-height: 1.6;
    overflow-x: hidden;
}
header{
    padding: 1.5rem 3rem;
    border-bottom: 1px solid #222;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
}
.menu{
    list-style: none;
    display: flex;
    gap: 2rem;
}
.menu, li, a{
    text-decoration:none;
    color: #ffffff;
    font-size: 0.95rem;
}
.menu, li, a:hover{
    color: #fff
}
.hero{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 5rem 3rem;
    max-width: 1200px ;
    margin: 0 auto;
}
.hero-content{
    max-width: 550px;
}
.hero-content,h1{
    font-size: 2.8rem;
    font-weight: 600;
    margin-bottom: 1.2rem;
    line-height: 1.2;
}
.hero-content,p{
    font-size: 1.1rem;
    color: #ffffff;
    margin-bottom: 2rem;
}
button{
    display: flex;
    gap: 1rem;
}
.btn{
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 500;
    transition: background-color 0.3s ease;
}
.primary{
    background-color: #d70000;
    color: #0e0e10;
}
.primary:hover{
    background-color: #930707;
}
.secondary{
    background-color: transparent;
    border: 1px solid #555;
    color: #ccc;
}
.secondary:hover{
    border-color: #888;
    color: #fff;
}
.hero-imagem img{
    max-width: 500px;
    width: 100%;
    border-radius: 10px;
    margin-top: 2rem;
}
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,
    minmax(280px, 1fr));
    gap: 2rem
}
.card{
    background-color: #111;
    padding: 2rem;
    border-radius: 1rem;
    border: 1px solid #1f1f1f;
    transition: 0.3s ease;
    box-shadow: 0 0 0 trasnparent; 
}
.car:hover{
    background-color:#1a1a1a;
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgb(61, 60, 60)
}
.card img{
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    opacity: 0.8;
}
.card, h3{
    font-size: 1.1rem;
    color: #eee;
    font-weight: 500;
}
.clients{
    max-width: 1000px;
    margin: 5rem auto;
    padding: 0 2rem;
    text-align: center;
}
.clients-text, h4{
    font-size: 1.2rem;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 0.5;
}
.clients-text, p{
    font-size: 1rem;
    color: #888;
    margin-bottom: 2rem;
}
.clientes-logos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    align-items: center;
}
.clientes-logos,img{
    height: 32px;
    opacity: 0.8;
    transition: opacity 0.3 ease;
    filter: grayscale(100%);
    
}
.clientes-logos, img:hover{
    opacity: 1;
    filter: grayscale(0%);
}

.imagem{
height: auto;
filter: none;
max-width: 400px;
}

